@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body {
    font-family: 'M PLUS 1p', sans-serif;
}
h1 {
    margin: 0;
}
.item {
    letter-spacing: -1rem;
}
.item * {
    letter-spacing: 0;
    display: inline-block;
}
.title {
    display: inline-block;
    width: 8rem;
}
.item input {
    width: 8rem;
    box-sizing: border-box;
}
#calc {
    width: 16rem;
}
.display {
    display: none;
}
.text1 {
    color: red;
}
.column {
    column-count: 2;
}
.img {
    width: 100%;
}