@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body {
    font-family: 'M PLUS 1p', sans-serif;
}
.item {
    letter-spacing: -1rem;
    text-align: center;
}
.item * {
    letter-spacing: 0;
    display: inline-block;
}
.item div {
    margin-right: 1em;
    margin-left: 1em;
}
.title {
    display: inline-block;
    width: 10rem;
}
img {
    pointer-events: none;
}
.img_group {
    position: relative;
    text-align: center;
}
.img_back {
    width: 500px;
}
.img_group img.img_player {
    position: absolute;
    width: 50px;
    top: 60%;
    left:50%;
    transform: translate(-50%, 0%);
}
.img_group img.img_monster {
    position: absolute;
    width: 50px;
    top: 60%;
    right:20%;
    transform: translate(-50%, -50%);
    display: none;
}
.column2 {
    column-count: 2;
}
.column2 dt button {
    align-items: center;
}
.column3 {
    column-count: 3;
}

/* 各種ボタン */

button {
    padding: 1em;
    border: black 2px solid;
    align-items: start;
}
#ability_killMonsterHeal_btn_down {
    background-color: gray;
}
#ability_killMonsterHeal_btn_up {
    background-color: white;
}
#ability_rareMonsterRate_btn_down {
    background-color: gray;
}
#ability_rareMonsterRate_btn_up {
    background-color: white;
}
#ability_coinGetRate_btn_down {
    background-color: gray;
}
#ability_coinGetRate_btn_up {
    background-color: white;
}
#ability_initialCoin_btn_down {
    background-color: gray;
}
#ability_initialCoin_btn_up {
    background-color: white;
}
#ability_initialCoin_btn_down {
    background-color: gray;
}
#ability_initialCoin_btn_up {
    background-color: white;
}
#ability_refillBonusShop_btn_down {
    background-color: gray;
}
#ability_refillBonusShop_btn_up {
    background-color: white;
}
#ability_maxHp_btn_down {
    background-color: gray;
}
#ability_maxHp_btn_up {
    background-color: white;
}
#ability_maxHpIncrease_btn_down {
    background-color: gray;
}
#ability_maxHpIncrease_btn_up {
    background-color: white;
}
#ability_attackHeal_btn_down {
    background-color: gray;
}
#ability_attackHeal_btn_up {
    background-color: white;
}
#ability_atk_btn_down {
    background-color: gray;
}
#ability_atk_btn_up {
    background-color: white;
}
#ability_evaRate_btn_down {
    background-color: gray;
}
#ability_evaRate_btn_up {
    background-color: white;
}
#ability_criticalAtkRate_btn_down {
    background-color: gray;
}
#ability_criticalAtkRate_btn_up {
    background-color: white;
}
#ability_criticalDexRate_btn_down {
    background-color: gray;
}
#ability_criticalDexRate_btn_up {
    background-color: white;
}
#ability_basePoint_btn_down {
    background-color: gray;
}
#ability_basePoint_btn_up {
    background-color: white;
}
#parameter_hp_btn_down {
    background-color: white;
}
#parameter_hp_btn_up {
    background-color: gray;
}
#parameter_atk_btn_down {
    background-color: white;
}
#parameter_atk_btn_up {
    background-color: gray;
}
#parameter_evaRate_btn_down {
    background-color: white;
}
#parameter_evaRate_btn_up {
    background-color: gray;
}

/*各種画面*/

.status_3 {
    display: block;
}
.ability_shop {
    display: none;
}
.parameter_setting {
    display: none;
}
.bonus_shop {
    display: none;
}
.hp_bar {
    display: none;
}
.img_section {
    display: block;
}
.coin_own {
    display: none;
}
.button_start {
    display: block;
}
.button_ability_reset {
    display: none;
}
.button_parameter_reset {
    display: none;
}
.button_choice {
    display: none;
}