@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body {
    font-family: 'M PLUS 1p', sans-serif;
}
.item {
    letter-spacing: -1rem;
    text-align: center;
}
.item * {
    letter-spacing: 0;
    display: inline-block;
}
.item div {
    margin-right: 1em;
    margin-left: 1em;
}
.title {
    display: inline-block;
    width: 10rem;
}
img {
    pointer-events: none;
}
.img_group {
    position: relative;
    text-align: center;
}
.img_back {
    width: 500px;
}
.img_group img.img_player {
    position: absolute;
    width: 50px;
    top: 60%;
    left:50%;
    transform: translate(-50%, 0%);
}
.img_group img.img_monster {
    position: absolute;
    width: 50px;
    top: 60%;
    right:20%;
    transform: translate(-50%, -50%);
    display: none;
}
.column2 {
    column-count: 2;
}
.column2 dt button {
    align-items: center;
}
.column3 {
    column-count: 3;
}
button {
    padding: 1em;
    border: black 2px solid;
    align-items: start;
}

/*各種画面*/

.status_3 {
    display: block;
}
.ability_shop {
    display: none;
}
.parameter_setting {
    display: none;
}
.bonus_shop {
    display: none;
}
.hp_bar {
    display: none;
}
.img_section {
    display: block;
}
.coin_own {
    display: none;
}
.button_start {
    display: block;
}
.button_ability_reset {
    display: none;
}
.button_parameter_reset {
    display: none;
}
.button_choice {
    display: none;
}