@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body {
    font-family: 'M PLUS 1p', sans-serif;
}
h2 {
    margin: 0;
}
.item {
    letter-spacing: -1rem;
}
.item * {
    letter-spacing: 0;
    display: inline-block;
}
.title {
    display: inline-block;
    width: 14rem;
}
.item input {
    width: 8rem;
    box-sizing: border-box;
}
#calc {
    width: 22rem;
}
#visibility {
    visibility: collapse;
}
table {
    font-size: 12px;
}
.text1 {
    color: red;
}
.text2 {
    color: white;
}
.img {
    width: 100%;
}